extends layout

block content
  h1= title
  p #地域図書館へようこそ。これは、Mozilla Developer Network のチュートリアル例として開発された、非常に基本的な Express ウェブサイトです。
  h1 ダイナミックコンテンツ

  p この図書館は以下のコンテンツがあります

  ul
    li #[strong 本:] !{book_count}
    li #[strong コピー:] !{book_instance_count}
    li #[strong コピー可能なもの:] !{book_instance_available_count}
    li #[strong 著者:] !{author_count}
    li #[strong ジャンル:] !{genre_count}
